.hai-content {
    margin-top: 60px;
    min-height: calc(100vh - 70px);
    padding: 10px;
}

#app {
    height: 100%;
    width: 100%;
}

a {
    cursor: pointer;
}

#loading-page {
    width: 100%;
    height: 100%;
    display: flex;
}

.item-header-tab-parent {
    border: 1px solid #ddd;
    padding-left: 15px;
}

.item-header-tab-parent {
    cursor: pointer;
}

.header-tab-parent {
    font-weight: bold !important;
    font-size: 15px !important;
}

.table-list-role {
    margin-bottom: 0px;
}

.logo-header {
    height: 50px;
    width: auto;
    margin-top: 15px;
}

.color-white {
    color: white;
}

.logo-sidebar {
    height: 40px;
    width: 40px;
}

.btn-group-action {
    display: flex;
}

.btn-group-action a i {
    color: #878787;
    font-size: 20px;
}

.btn-group-action a i:hover {
    color: #343434;
}

table tr td .avatar-list-staff {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}

.table .checkbox {
    width: 100%;
}

.panel-group .panel-title .checkbox {
    display: inline;
}

@media screen and (max-width: 768px) {
    .navbar-header {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

.btn-main {
    width: 100%;
}

.progress-bar-table {
    width: 100px;
    margin-top: -5px;
}

.content-avatar {
    width: 307px;
    height: 307px;
    overflow: hidden;
}

.text-white {
    color: white;
}

.modal-small-text {
    font-size: 85%;
    opacity: 0.6;
}

.keetool-card,
.keetool-board {
    touch-action: none;
}

#card-email-template {
    margin-top: 20px;
}

#card-email-template .card-header {
    border-radius: 10px;
}

#card-email-template .ct-chart {
    border-radius: 10px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    height: 200px;
}

#card-email-template .card-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
}

.no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.quiet {
    color: #8c8c8c;
}

.kt-overlay {
    z-index: 9;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

.table-responsive > .table > tbody > tr > td > #register-email {
    width: 100px;
    word-break: break-all;
}

@media screen and (max-width: 767px) {
    .table-responsive > .table > tbody > tr > td > #register-email {
        width: 100%;
    }
}

.container-dot-bottom-right {
    position: relative;
    z-index: 10;
}

.dot-bottom-right {
    position: absolute;
    border-radius: 9px;
    background-color: #c50000;
    width: 18px;
    color: #fff;
    right: -7px;
    bottom: -5px;
    vertical-align: middle;
    line-height: 18px !important;
    text-align: center;
    border: solid 1px white;
    cursor: pointer;
    height: 18px;
}

.container-call-status {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vertical-top {
    vertical-align: top !important;
}

.full-width {
    width: 100% !important;
}

.padding-left-right-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.circle {
    border-radius: 50%;
}

@media screen and (max-width: 991px) {
    .content-qr-code {
        float: left;
    }
}

.timeline-body .flex-row-center > .material-icons {
    font-size: 14px;
}

.flex {
    display: flex !important;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-space-between {
    justify-content: space-between;
}

.position-relative {
    position: relative;
}

.width-100 {
    width: 100% !important;
}

.size-40-px {
    width: 40px;
    height: 40px;
}

.padding-horizontal-10px {
    padding-left: 5px;
    padding-right: 5px;
}

.text-h5 {
    font-size: 1.25em;
}

.text-h6 {
    font-size: 1em;
}

.keetool-content {
    margin-top: 60px;
    min-height: calc(100vh - 70px);
    padding: 10px;
}

.none-margin {
    margin: 0 !important;
}

.none-padding {
    padding: 0 !important;
}

.none-padding-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.none-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.full-height {
    height: 100%;
}

.text-align-left {
    text-align: left !important;
}

.text-align-right {
    text-align: right !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.container-for-images:hover .button-for-images {
    opacity: 1;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.cursor-pointer {
    cursor: pointer;
}

.bar {
    height: 10px;
    position: absolute;
    display: inline-block;
    border-radius: 50px;
}

.button-add {
    margin-left: 15px !important;
    padding: 0px 8px !important;
    font-size: 16px !important;
}

.nav-pills-rose > .active > a {
    background-color: rgba(197, 0, 0, 1);
}

.nav-pills > li > a > i {
    display: inline-block;
    font-size: 24px;
    padding: 0px 5px 1px 0px;
}

.modal-content .modal-footer button {
    padding: 12px 30px;
}

.height-100 {
    height: 100% !important;
}

.circle-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.sent-message {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    display: flex;
    border: none;
    margin: 0px auto 0 -10px;
    background-color: #74d512;
    cursor: auto;

}

.card-content .card-top {
    display: flex;
    justify-content: space-between;
}

.card-content .card-top .btn-round {
    display: flex;
    margin: 0px 0px 0px 15px;
    padding: 0px !important;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgba(197, 0, 0, 1) !important;
    border-color: rgba(197, 0, 0, 1) !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(197, 0, 0, 0.4) !important;
}

.flex-end {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    justify-content: flex-end;
}

.card-content .card-top .btn-round i {
    font-weight: bold;
    font-size: 18px;
    margin: auto;
    top: 0px;
    color: white;
    border: none;
    margin-top: 5px;
    background-color: #74d512;
    cursor: auto;

}

.card-content .card-top {
    display: flex;
    justify-content: space-between;
}

.card-content .card-top .btn-round {
    display: flex;
    margin: 0px 0px 0px 15px;
    padding: 0px !important;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgba(197, 0, 0, 1) !important;
    border-color: rgba(197, 0, 0, 1) !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(197, 0, 0, 0.4) !important;
}

.flex-end {

    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    justify-content: flex-end;
}

.main-panel {
    overflow: auto;
}

.upload_button{
    background: tomato;
    color: white;
    font-weight: bold;
    border: tomato;
    border-radius: 10px;
}